@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
html,
body {
  min-height: 100%;
  color : #F7F7FF;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;



}

.logo-img{
  width: 60px;
}

.card-text{
  font-size: small;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#output-image {
  max-width: 300px;
  padding-bottom: 10px;
}

.h1{
  color:#070600;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.btn{
  background-color: #2AF598;
  border-radius: 10px;
  margin-left: 10%;
  width: 80%;
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.5px;
}

h5{
  font-family: 'Source Sans Pro', sans-serif;
}

.credits{
  letter-spacing: 1.5px;
  font-size: small;
}

.notes{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.logo-stack{
  width: 40px;
  padding-right: 10px;
}


