{% extends "layout.html" %}
{% block content %}
	<form class="form-signin" method=post enctype=multipart/form-data>
		<h1 class="h2 mb-6 font-weight-normal">COVID-19 Detector AI</h1>
		<h5 class="h5 mb-4 font-weight-light text-muted">A Deep Learning based X-ray Diagnosis App</h4>
		
		<h2 class="h4 mb-6 font-weight-normal">Please Upload The Image</h2>
		<input type="file" name="file" class="form-control-file" id="inputfile"  onchange="preview_image(event)">
		<br />
		<img id="output-image" class="rounded mx-auto d-block"/>
		<button class="btn btn-lg btn-primary btn-block" id="submit-btn" type="submit">Upload</button>
		
		<p class="mt-4 mb-3 text-muted">Built by <a href="https://arunpandian7.github.io">Arun Pandian R</a></p>
		<img class="logo-img" src="static/logo.png"><img>
	</form>
	

	<script type="text/javascript">
		function preview_image(event) {
			var reader = new FileReader();
			reader.onload = function(){
				var output = document.getElementById('output-image')
				output.src = reader.result;
				var button = document.getElementById('submit-btn')
				button.textContent = "Diagnose"
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>
{% endblock %}